*{
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

/****************************************************************
 profile.tsx css
 ****************************************************************/

 .profile{
  flex: 4.4;
  margin: 0;
  padding: 0;
  border-left: 1px solid #e7d9d9;
  border-right: 1px solid #e7d9d9;

}

.profileWrapper{
  padding:25px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}


.tabList{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  border-top: 0.5px solid #e7d9d9;
}

.tabListItem{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px;
  padding: 10px 0px;
  cursor: pointer;
  color: #6c6b6b;
}

.activeTab{
  border-top: 1.2px solid #000;
  color: #000;
}

.tabListItemIcon{
  height: 20px;
  width: 20px;
}

.tabListItemText{
  font-size: 16px;
  padding-left: 6px;
}

